p {
    display: inline-block;
    padding: 1rem;
    font-weight: bold;
    color: black;
}

.todo-parent {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.isDoneTodo {
    text-decoration: line-through;
    background-color: rgba(128, 128, 128, .3);
    border-radius: .5rem;
}